get_images/*.psf.fits
get_images/*.fits
get_images/asteroid_families/*
shapely/
.Python
.ipynb_checkpoints/
.pycharmrc
Papers/
Untitled0.ipynb
Ureka/
bin/
findObjects/.ipynb_checkpoints/
findObjects/CometEls.txt
findObjects/MPCORB.DAT
findObjects/mbc.txt
getImages/__init__.py
getImages/asteroid_families/all/all_images_test0.txt
getImages/asteroid_families/all/all_stamps/
getImages/asteroid_families/temp_phot_files/
getImages/asteroid_families/tkBAD.txt
getImages/delete_0size.py
getImages/delete_duplicates.py
getImages/find_family.pyc
getImages/get_images.pyc
getImages/get_stamps.pyc
getImages/mbc/
getImages/ossos_scripts/__init__.pyc
getImages/ossos_scripts/coding.pyc
getImages/ossos_scripts/horizons.pyc
getImages/ossos_scripts/mpc.pyc
getImages/ossos_scripts/ossos paths.rtf
getImages/ossos_scripts/ssos.pyc
getImages/ossos_scripts/storage.pyc
getImages/ossos_scripts/util.pyc
getImages/ossos_scripts/wcs.pyc
getImages/pyraf/
getImages/scrap/getStamps0.py
getImages/sep_phot.pyc
getImages/temp/
getImages/test_astropy.py
getImages/test_find_family.py
getImages/test_find_mba.py
getImages/test_head.py
getImages/test_parse_for_obects.py
getImages/test_pyraf.py
getImages/test_readtable.py
getImages/test_sep_phot.py
getImages/testfamily/
getImages/to_delete.txt
git-cheat-sheet-education.pdf
lib/
login.cl
man/
mbc_paper/aa.cls
mbc_paper/aas_macros.sty
mbc_paper/edge.jpg
mbc_paper/example.tex
mbc_paper/mbc_paper.aux
mbc_paper/mbc_paper.bbl
mbc_paper/mbc_paper.blg
mbc_paper/mbc_paper.log
mbc_paper/mbc_paper.out
mbc_paper/mbc_paper.pdf
mbc_paper/mbc_paper.synctex.gz
mbc_paper/mbc_paperNotes.bib
mbc_paper/writeup.txt
pip-selfcheck.json
plots/.ipynb_checkpoints/
plots/CometEls.txt
plots/MPCORB.DAT
plots/all_objects_table.txt
plots/mbc.txt
pyraf/
share/
uparm/
