getImages/asteroid_families/temp_phot_files/
getImages/asteroid_families/temp_phot_files/*_phot.txt
getImages/asteroid_families/all/all_stamps/*.fits
getImages/ossos_scripts/*.pyc
getImages/test*
getImages/pyraf/
getImages/scrap/
getImages/uparm/
getImages/*.pyc
getImages/__init__.py
__init__.py
findObjects/.ipynb_checkpoints
.ipynb_checkpoints
bin/
lib/
Papers/
kawebb/
uparm/
for_testing.ipynb
mbc_paper/aa.cls
mbc_paper/aas_macros.sty
mbc_paper/example.tex
mbc_paper/mbc_paper.aux
mbc_paper/mbc_paper.log
mbc_paper/mbc_paper.out
mbc_paper/mbc_paper.pdf
mbc_paper/mbc_paper.synctex.gz
mbc_paper/mbc_paperNotes.bib
mbc_paper/writeup.txt
.Python
findObjects/CometEls.xlsx
findObjects/MPCORB.DAT
getImages/login.cl
git-cheat-sheet-education.pdf
login.cl
pyfits_tutorial.py
pyraf/
Ureka/
findObjects/CometEls.txt
findObjects/Untitled0.ipynb
login.cl.OLD
man/
share/
findObjects/*.png
findObjects/mbc.txt
findObjects/mpc-fetch.py
getImages/mbc/
getImages/temp*
mbc_paper/*.png
mbc_paper/*.blg
mbc_paper/*.bbl
pip-selfcheck.json
Rakefile
