
plots/
.Python
.ipynb_checkpoints/
.pycharmrc
Papers/
Untitled0.ipynb
Ureka/
bin/
findObjects/.ipynb_checkpoints/
findObjects/CometEls.txt
findObjects/MPCORB.DAT
findObjects/mbc.txt
findObjects/mpc-fetch.py
findObjects/plot_MMR.ipynb
getImages/asteroid_families/temp_phot_files/
getImages/asteroid_families/
getImages/__init__.py
getImages/data_cutout.txt
getImages/temp/
getImages/test*
getImages/*.fits
getImages/delete_duplicates.py
getImages/family_lists/astdys_table.txt
getImages/family_lists/status_3.txt
getImages/family_lists/status_4.txt
getImages/image_lists/434_images_test.txt
getImages/image_lists/all_images_new_save.txt
getImages/ossos_scripts/__init__.pyc
getImages/ossos_scripts/ossos paths.rtf
getImages/ossos_scripts/*.pyc
getImages/postage_stamps/
getImages/psf_output/
getImages/pyraf/
getImages/remove_from_vos.py
getImages/scrap/getStamps0.py
getImages/*.pyc
getImages/test_astropy.py
getImages/test_find_mba.py
getImages/test_head.py
getImages/test_pyraf.py
getImages/test_readtable.py
getImages/testfamily/
git-cheat-sheet-education.pdf
lib/
login.cl
man/
mbc_paper/aa.cls
mbc_paper/aas_macros.sty
mbc_paper/example.tex
mbc_paper/mbc_paper.aux
mbc_paper/mbc_paper.bbl
mbc_paper/mbc_paper.blg
mbc_paper/mbc_paper.log
mbc_paper/mbc_paper.out
mbc_paper/mbc_paper.pdf
mbc_paper/mbc_paper.synctex.gz
mbc_paper/mbc_paperNotes.bib
mbc_paper/writeup.txt
pip-selfcheck.json
plots/.ipynb_checkpoints/
plots/CometEls.txt
plots/MPCORB.DAT
plots/all_objects_table.txt
plots/mbc.txt
plots/plot_AA_MBA.ipynb
pyraf/
shapely/
share/
uparm/
